= simple_form_for [commentable, comment], html: { class: "form-horizontal", role: "form", style: "display: #{local_assigns[:hidden] ? 'none' : 'block'}; margin-top: 15px;" } do |f|
  = f.hidden_field :parent_id, value: local_assigns[:parent].try(:id)
  .col-lg-12
    = f.input :body, :label => false, :placeholder => 'Let your voice be heard!'
  = f.button :submit
