= simple_form_for @form, :html => { :class => "form-horizontal", :role => "form" } do |f|
  = f.input :name
  = f.input :tag_list
  = f.input :description, as: :text

  = f.simple_fields_for :map_marker do |mm|
    = mm.input :state
    = mm.input :city
    = mm.input :street
    = mm.input :street_number

  .row
    .col-md-4
      %h4 Videos
      #video_attachments
        = f.simple_fields_for :video_attachments do |va|
          = render 'video_attachment_fields', f: va
    .col-md-4
      %h4 Obitvu animations
      #orbitvu_attachments
        = f.simple_fields_for :orbitvu_attachments do |va|
          = render 'orbitvu_attachment_fields', f: va

    .col-md-4
      %h4 Images
      #image_attachments
        = f.simple_fields_for :image_attachments do |va|
          = render 'image_attachment_fields', f: va


  = f.button :submit
  = link_to_add_association 'Add video', f, :video_attachments,
    class: 'btn btn-default', data: { association_insertion_node: '#video_attachments', association_insertion_method: :append }
  = link_to_add_association 'Add Orbitvu animation', f, :orbitvu_attachments,
    class: 'btn btn-default', data: { association_insertion_node: '#orbitvu_attachments', association_insertion_method: :append }
  = link_to_add_association 'Add Image', f, :image_attachments,
    class: 'btn btn-default', data: { association_insertion_node: '#image_attachments', association_insertion_method: :append }
