.page-header.clearfix
  = link_to new_project_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Project
  .search-sort-by-type.pull-right
    %i.fa.fa-sort-asc{ :style => 'margin-right: 10px;'}
    %select#search-sort-by-type.dont-select2ify
      %option{ :data => { :field => 'popularity' } }
        Popularity
      %option{ :data => { :field => 'rating' } }
        Rating
      %option{ :data => { :field => 'date' } }
        Date

.project-search.row
  .filters.col-lg-3
    .query
      %input.form-control{ :type => :text, :placeholder =>'Query', :style => 'margin-bottom: 20px;' }
    .filter-by-tags.panel.panel-default
      .panel-heading
        Filter by tags
      .panel-body
    .filter-by-region.panel.panel-default
      .panel-heading
        Filter by region
      .panel-body
    .filter-by-projected-cost.panel.panel-default
      .panel-heading
        Filter by projected cost
      .panel-body
  .results.col-lg-9
    .projects
      - @projects.records.each_with_hit do  |db_project, es_project|
        - project = present(db_project)
        .project
          .project-image
            %img{ :src => 'http://placehold.it/160x160' }
          .project-details
            .project-heading
              .title
                = project.name
                %small
                  by
                  = project.user_profile_link
              .rating
                = stars_for_rating(project.rating)
                = surround('(', ')') do
                  = project.rating
            %p
              = project.description_blurb
            %p.read-more
              = project.link('(read more)')
