.page-header.clearfix
  = link_to new_project_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Project
  .search-sort-by-type.pull-right
    %i.fa.fa-sort-asc{ :style => 'margin-right: 10px;'}
    %select#search-sort-by-type.dont-select2ify
      %option{ :data => { :field => 'popularity' } }
        Popularity
      %option{ :data => { :field => 'rating' } }
        Rating
      %option{ :data => { :field => 'date' } }
        Date

.project-search.row
  .filters.col-lg-3
    %form.form-horizontal.query{ :role => 'search' }
      - current_search_options_with_serialised_values(:unset => [:query]).each do |key, value|
        %input{ :type => 'hidden', :name => key, :value => value}
      %input.form-control{ :type => :text, :name => 'query', :placeholder =>'Search', :value => current_search_options[:query], :style => 'margin-bottom: 20px;' }
    .filter-by-tags.panel.panel-default
      .panel-heading
        Filter by tags
        .pull-right
          %a{ :href => search_url(:unset => [:tags]) }
            clear
      .panel-body
        - term_facet_to_hash(@projects.response.facets['tags']).each do |facet, count|
          - if current_search_options[:tags].include?(facet)
            .facet.active
              .facet-term
                = facet
              .facet-details
                .facet-count
                  = count
                %a.facet-remove{ :href => search_url(:without => { :tags => [facet] }) }
                  x
          - else
            %a.facet{ :href => search_url(:with => { :tags => [facet] }) }
              .facet-term
                = facet
              .facet-details
                .facet-count
                  = count
    .filter-by-region.panel.panel-default
      .panel-heading
        Filter by region
      .panel-body
        - term_facet_to_hash(@projects.response.facets['state']).each do |facet, count|
          - state_code = ProjectLocation.state_name_to_code(facet)
          - if current_search_options[:state].include?(state_code)
            .facet.active
              .facet-term
                = facet
              .facet-details
                .facet-count
                  = count
                %a.facet-remove{ :href => search_url(:without => { :state => [state_code] }) }
                  x
          - else
            %a.facet{ :href => search_url(:with => { :state => [state_code] }) }
              .facet-term
                = facet
              .facet-details
                .facet-count
                  = count      
    .filter-by-projected-cost.panel.panel-default
      .panel-heading
        Filter by projected cost
      .panel-body
  .results.col-lg-9
    .projects
      - @projects.records.each_with_hit do |db_project, es_project|
        - project = present(db_project)
        .project
          .project-image
            = link_to db_project do
              %img{ :src => project.logo_image_project_list_url }
          .project-details
            .project-heading
              .title
                = project.name
                %small
                  by
                  = project.user_profile_link
              .rating
                = stars_for_rating(project.rating)
                .number
                  = surround('(', ')') do
                    = project.rating
            %p
              = project.description_blurb
            %p.read-more
              = project.link('(read more)')
