.page-header
  = link_to new_project_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Project
  %h1 Listing projects

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Tags
        %th Description
        %th
        %th
        %th

    %tbody
      - present(@projects).each do |project|
        %tr
          %td= project.name
          %td= project.tags
          %td= project.description
          %td= project.show_link
          %td= project.edit_link
          %td= project.destroy_link
