- present(@project) do |project|
  - content_for(:jumbotron) do
    .jumbotron{ :style => "background-image: url(#{project.logo_image_url});" }
      .title-overlay
        .container
          .title
            %h1
              = project.name
              %small.author
                organizowany przez
                = project.user_profile_link
          .details
            .tags
              - project.tag_names.each do |tag|
                %a.label.label-success{ :href => projects_path(:tags => tag) }
                  = tag
            .rating
              = stars_for_rating(project.rating, :method => :put) do |id|
                - vote_project_path(:vote => id + 1)
              .number
                = surround('(', ')') do
                  = project.rating

  .row
    .col-lg-9
      #description
        = project.description

      #attachments.row{ :style => 'margin-top: 30px;' }
        .col-lg-12
          %h4 Galeria
          = project.attachments

      #comments{ :style => 'margin-top: 35px;'}
        %h4 Komentarze
        = project.comments
        = render 'comments/form', comment: Comment.new, commentable: @project

    .col-lg-3
      - if current_user == @project.user
        = link_to edit_project_path(@project), :class => 'btn btn-primary btn-block', :style => 'margin-bottom: 15px;' do
          %span.glyphicon.glyphicon-pencil
          Edytuj
      .location
        = fa_icon('globe', text: project.address)
      .map{ :style => 'margin-top: 15px;'}
        #map-canvas

%script{src:"//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", type:"text/javascript"}
%script{src:'//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js', type:'text/javascript'}

:javascript
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map-canvas'}}, function(){
    var marker = handler.addMarker({
      lat: #{@marker[:lat] || 0},
      lng: #{@marker[:lng] || 0}
    });
    handler.map.centerOn(marker);
  });
