- present(@project) do |project|
  .map
    #map-canvas
  .page-header
    -# = link_to edit_project_path(@project), :class => 'btn btn-primary pull-right' do
      %span.glyphicon.glyphicon-pencil
      Edit
    .project-heading
      .title
        = project.name
        %small
          by
          = project.user_profile_link
      .rating
        = stars_for_rating(project.rating)
        = surround('(', ')') do
          = project.rating
    .tags
      - project.tag_names.each do |tag|
        %span.label.label-primary
          = tag

    %dt Description:
    %dd= project.description
    %dt Address:
    %dd= project.address

  #comments
    = project.comments
    = render 'comments/form', comment: Comment.new, commentable: @project

%script{src:"//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", type:"text/javascript"}
%script{src:'//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js', type:'text/javascript'}

:javascript
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map-canvas'}}, function(){
    var marker = handler.addMarker({
      lat: #{@marker[:lat] || 0},
      lng: #{@marker[:lng] || 0}
    });
    handler.map.centerOn(marker);
  });