- present(@project) do |project|
  .page-header
    -# = link_to edit_project_path(@project), :class => 'btn btn-primary pull-right' do
      %span.glyphicon.glyphicon-pencil
      Edit
    .project-heading
      .title
        = project.name
        %small
          by
          = project.user_profile_link
      .rating
        = stars_for_rating(project.rating)
        = surround('(', ')') do
          = project.rating
  .row
    .col-lg-9
      #description
        = project.description

      #attachments.row{ :style => 'margin-top: 30px;' }
        .col-lg-12
          %h4 Attachments
          = project.attachments

      #comments{ :style => 'margin-top: 35px;'}
        %h4 Comments
        = project.comments
        = render 'comments/form', comment: Comment.new, commentable: @project

    .col-lg-3
      .tags
        - project.tag_names.each do |tag|
          %span.label.label-primary
            = tag
      %dt Location:
      %dd= project.address
      .map{ :style => 'margin-top: 15px;'}
        #map-canvas

%script{src:"//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", type:"text/javascript"}
%script{src:'//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js', type:'text/javascript'}

:javascript
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map-canvas'}}, function(){
    var marker = handler.addMarker({
      lat: #{@marker[:lat] || 0},
      lng: #{@marker[:lng] || 0}
    });
    handler.map.centerOn(marker);
  });
