- present(@project) do |project|
  .page-header
    -# = link_to edit_project_path(@project), :class => 'btn btn-primary pull-right' do
      %span.glyphicon.glyphicon-pencil
      Edit
    .project-heading
      .title
        = project.name
        %small
          by
          = project.user_profile_link
      .rating
        = stars_for_rating(project.rating)
        = surround('(', ')') do
          = project.rating
    .tags
      - project.tag_names.each do |tag|
        %span.label.label-primary
          = tag

  %dt Description:
  %dd= project.description

  #comments
    = project.comments
    = render 'comments/form', comment: Comment.new, commentable: @project
