- present(@project) do |project|
  .page-header
    = link_to projects_path, :class => 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Back
    = link_to edit_project_path(@project), :class => 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      Edit
    %h1 Show project

  %dl.dl-horizontal
    %dt Name:
    %dd= project.name
    %dt Tags:
    %dd= project.tags
    %dt Description:
    %dd= project.description

  #comments
    = project.comments
    = render 'comments/form', comment: Comment.new, commentable: @project
