!!!
%html
  %head
    %title Janusz
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ :class => [controller_name(:css), action_name(:css)] }
    = render 'layouts/navigation'
    .jumbotron
      .subtle-overlay
      .container
        .text-center
          %h1 Hello, Janusze!
          %p
            To dla was zmieniamy Sląsk
            %u na lepsze!
          %p
            Cause we like trains!!!
          %p.top-space
            = link_to "Add your own project", new_project_path, class: "btn btn-success btn-lg"

    .container
      - flash.each do |key, value|
        .alert.alert-dismissible{ :class => alert_class(key), :role => 'alert' }
          %button.close{ :type => :button, :data => { :dismiss => 'alert' } }
            %span{ :'aria-hidden' => true }
              &times;
            %span.sr-only Close
          = flash[key]
      = yield
    = render 'layouts/footer'
